/* #app-body {
  height: 1050px;
  width: 100%;
  background-image: url("./images/49ersstadium.jpg");
  background-blend-mode: overlay;
  opacity: 0.6;
} */

#main-title{
  color:white;
  text-align: left;
  padding:10px;
  /* margin: 10px; */
  font-size: 55px;
  font-family: 'Permanent Marker', cursive;
}

#app-header{
  background-color: #1DA1F2;
  /* padding-bottom: 15px; */
  /* margin-bottom: 10px; */
}

.nav-bar-links{
  display: inline;
  padding:10px;
  border-radius: 5px;
  margin: 5px;
  text-align: right;
  text-decoration: none;
  color:white;
  
}

.nav-bar-link-text{
  color:white;
  text-decoration:"none";
  font-size: 20px;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Lato', sans-serif;
/* font-family: 'Montserrat', sans-serif; */
  display: inline-block;
}

.nav-bar-link-text:hover{
  color:#AAB8C2;
  text-decoration:"none";
  font-size: 20px;
  display: inline-block;

}

.nav-bar-div{
  text-align: center;
  padding:15px;
}

.nav-bar-item {
  /* display: inline-block; */
}

#link-list {
    align-items: center;
    padding-top: 18px;
}

.page-title{
  font-family: 'Permanent Marker', cursive;
  color: #1DA1F2;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#home-body p{
  font-family: 'Archivo Black', sans-serif;
  /* color:white; */
  font-size: 30px;
  
}

#home-container{
  font-family: 'Archivo Black', sans-serif;
  margin-top: 49px;
  text-align: center;
}

.home-page-title{
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
  color: #1DA1F2;
  text-align: center;
  margin-bottom: 10px;
}

.home-descriptions{
  color: #657786;
  text-align: center;
  font-size: 35px;
  /* font-family: 'Permanent Marker', cursive; */
  /* font-family: 'Lato', sans-serif; */
font-family: 'Montserrat', sans-serif;
/* font-family: 'Roboto', sans-serif; */
}

ul{
  list-style-type: none;  
}

.tweet-column{
  position:relative;
  padding-top:25px;
  text-align: center;
}

#tweet-card{
  background-color: white;
  font-family:'twitterfont';
  font-size: 15px;
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: left;
}

#tweet-body{
  padding-top: 10px;
}

#profile-photo{
  padding: 10px;
  border-radius: 50%;
}

.user-bio-box {
  margin-top:20px;
}

#bio-profile-photo{
  padding: 10px 10px 10px 0px;
  border-radius: 50%;
  width: 100px;
  height: auto;
}

#bio-name-plate{
  padding-top: 30px;
  padding-left: 40px;
}

#bio-bold-name{
  font-weight: bold;
  font-size: 20px;
}

#bio-description{
  padding-top: 5px;
  padding-bottom: 5px;
}

/* #bio-location-and-created-row{
  padding-left: -10px;
} */

#bio-location{
  padding-right: 10px;
}

#bio-follow-row{
  padding-bottom: 5px;
}

#bio-following{
  padding-right: 10px;
}

#twitter-name{
  margin-bottom:-13px;
}

#bold-name{
  font-weight: bold;
}

.grey{
  color:grey;
}

.icon{
  margin-right:10px;
  color:gray;
  font-family:'twitterfont';
  font-size: 13px;
}

.icon-image{
  padding-right: 9px;
  padding-bottom: 4px;
}

#icon-bar{
  margin-top: 2px;
  margin-bottom: 1px;
}
/* #icon-bar{
  display: inline;
  align-items: center;
} */

.account-list{
  font-family:'twitterfont';
  background-color: white;
  padding:20px;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.account-list-name{
  border: solid 1px;
  border-radius: 5px;
  margin-bottom: 6px;
  text-align: center;
}

.button{
  display: flex;
  justify-content: left;
  margin-bottom: -24px;
  border:1px solid white;
  border-radius: 5px;
  background-color: white;
  padding:-10px;
}

h2{
  text-align: center;
}

.refresh-button {
  background: transparent;
    border: none !important;
}

@font-face {
  font-family:'twitterfont';
  src: url(./fonts/twitterfont.woff) format('woff');
}
/* font-family: 'Archivo Black', sans-serif;
font-family: 'Permanent Marker', cursive; */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */